@mixin circular-progress-bar($circle-diameter, $border-width-ratio) {

    width: $circle-diameter;
    height: $circle-diameter;

    .slice {
      clip: rect(0, $circle-diameter, $circle-diameter, $circle-diameter/2);
    }

    &:after {
      top: round(($circle-diameter - ($circle-diameter*(1-$border-width-ratio)))/2);
      left: round(($circle-diameter - ($circle-diameter*(1-$border-width-ratio)))/2);
      width: round($circle-diameter*(1-$border-width-ratio));
      height: round($circle-diameter*(1-$border-width-ratio));
    }

    > span {
      line-height: $circle-diameter;
    }

    .bar {
      clip: rect(0, $circle-diameter/2, $circle-diameter, 0);
    }
}